body{
    background: url(hotel.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
h1{
    color:white;
    text-align:center;
}
h3{
   color:navajowhite;
}


.signupkey{
    background: rgba(20,50, 80, 0.4);
    padding: 40px;
    width: 250px;
    margin-top:90px;
    margin-left: 180px;
    margin: 0 auto;
}
 
 
 form{
     width:250px;
     text-align: center;
     margin-top: -10;
 }
 
 
 input{
     width:240px;
     text-align: center;
     background: transparent;
     border:none;
     border-bottom: 2px solid white;
     font-size:16px;
     font-weight:200px;
     padding: 10px 0;
     transition: border 0.5s;
     outline: none;
     height:35px;
     color: whitesmoke;
 }
 
 
 
 button{
     border: none;
     width:200px;
     color:red;
     font-size:20px;
     line-height:25px;
     border-radius: 30px;
     padding: 10px;
     cursor: pointer;
 }
 